@charset "utf-8";

/*角丸でアイコン付きの浮き上がるボタン*/

.button-icon-that-pops-up a{
    position: relative;                      /*位置(自身が基準点)*/
    left: 80px;                              /* 右に60pxずらす */
    display: flex;                           /*横並び*/
    justify-content: space-around;           /*左右に均等な隙間*/
    align-items: center;                     /*上下中央揃え*/
    margin: 0;                               /*左右の余白*/
    max-width: 240px;                        /*幅は最大 240px*/
    padding: 10px 25px;                      /*ボタン内の文字やアイコンと端の間の余白*/
    color: #FFF;                           /*色*/
    transition: 0.3s ease-in-out;            /*アニメーションの滑らかさ*/
    font-weight: 600;                        /*文字を少し太めに*/
    background: #6bb6ff;                   /*背景色*/
    filter: drop-shadow(0px 2px 4px #ccc); /*影*/
    border-radius: 20px;                     /*ボタンの角丸*/
}

.button-icon-that-pops-up a:after {
    content: '';                               /*空文字*/
    width: 5px;                                /*幅*/
    height: 5px;                               /*高さ*/
    border-top: 3px solid #FFF;              /*上の線*/
    border-right: 3px solid #FFF;            /*右の線*/
    transform: rotate(45deg) translateY(-50%); /*縦方向の微調整*/
    position: absolute;                        /*親の基準に対して絶対配置*/
    top: 46%;                                  /*上*/
    right: 20px;                               /*右*/
    border-radius: 1px;                        /*角を丸くする*/
    transition: 0.3s ease-in-out;              /*動きの滑らかさ*/
}

.button-icon-that-pops-up a:hover {
    transform: translateY(-2px); /*ボタンが少し浮き上がる*/
    /*浮き上がった時の影を強めて立体感を演出*/
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}