@charset "utf-8";

body{
    background-image: url("../../Image/BackGround.jpg"); /*画像*/
    background-size: 100px auto;       /*大きさ*/
    background-repeat: repeat;         /*繰り返す*/
}

h1{
    color: navy;
}

p{
    font-size: 16px; /* 大きさ */
    color: rgb(255, 255, 255);  /* 色 */
}